<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Daniel Hajjar and I'm 20 years old. I'm interested in programming which I have been doing since I was about 14-15 years old. I'm also very interested in physics and mathematics. I'm interested in both hardware and software.</p>
                </div>
                <div class="col-lg-4">
                    <p>I also love playing video games. My favorite game is Kerbal Space Program because I like physics. My favorite show is Stargate SG-1.</p>
                </div>
            </div>
        </div>
    </section>